$fa-font-path: "../fonts" !default;
$fa-img-path: "../images" !default;
/* ========= background variable ==========*/
$primary-color:#ffff;
$link-color:#6FEE48;
$gray-color:#6A6A6A;
$placeholder-color:#9C9FA3;
$label-color:#EAECEF;
$primary-btn-color:#1D1E22;
$label-grey-color:#D2D4D7;
$dark-gray-color:#646669;
$black-color:#000;
$green-color:#4DCC34;
$light-gray-color: #242427;
$extra-light-gray:#383838;
$gray-color-value:#28292D;
$footer-grey-color:#86878A;
$white-gray:#24262A;

$primary-bg:#1D1E22;
$gray-bg:#2E2C2A;
$dark-gray-bg:#1E1D1C;
$disable-btn-bg:#464749;
$primary-btn-bg:#6FEE47;

$gray-1: #3A3A3A;
$gray-2:#232426;
$input-bg:#28292E;
$otp-placeholder:#37383C;
$gray-border:#545454;
$gray-dark: #6A6A6A;
$tab-bg:#2E2C2A;